@import "~bootstrap/scss/bootstrap.scss";

.Navbar{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #777;
  font-size: 18px;
  line-height: 30px;
}

.Icon{
  margin-bottom: 3px;
}